.center {
    text-align: center;

}
.centerSearch {
    margin-left: 33%;
    margin-right: 33%;
}
.box {
    width: 6em;
    height: 6em;
    background-color: #f2f2f2;
    outline-color: #e6e6e6;
    outline-width: 2px;
    outline-style: solid;
    text-align: center;
    display: inline-block;
    position: relative;
}
ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.box a {
    display: none;
    top: 33%;
    left: 22%;
}
.box:hover a {
    cursor: pointer; 
    display: inline-block;
    position: absolute;
}
ul {
    width: 40em;
}
#ullist {
    width: 98%;
}
.listingBox p {
    margin: 0;
    display: inline-block;
    padding: 0;
    
}
.subFormInput {
    margin-left: 2em;
}
#arrow {
    padding-right: 5px;
    padding-left: 5px;
}
.sellinglisting{
    display: inline-block;
    width: 40em;
}
.sellinglisting ul li {
    margin: 10px;
    display: block;
}
.buyinglisting ul li {
    margin: 10px;
    display: block;
}
.buyinglisting {
    display: inline-block;
    width: 40em;
}
.buyinglisting ul li{
    display: block;
}
.loginFormCenter {
    margin-right: 35%;
    margin-left: 35%;
}

.lisingBox {
    width: 30em;
    border-width: 5px;
    border-color: #b5b5b7;
    padding: 5px;
    border-radius: 8px;
    border-style: solid;
    display: inline-block;
}