<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add selling listing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.com/libraries/Chart.js"></script>
    </head>
    <body>
    <div class="center">
    <br>
    <h3>Selling something?</h3>
    </div>
    <div class="loginform">
        <div class="loginFormCenter">
        <form method="POST" action="/selling/add">
            <div class="form-group">
                <label for="ingameName">Name ingame</label>
                <input type="name" id="ingameName" name="ingameName" class="form-control">
            </div>
            <div class="form-group">
                <label for="discord" >Discord tag</label>
                <input type="name" placeholder="exampe#4312" id="discord" name="discord" class="form-control">
            </div>
            <div class="form-group">    
                <label for="cityName">City / Country Name</label>
                <input type="name" id="cityName" name="cityName" class="form-control">
            </div>
            <div class="form-group">  
                <label for="location">Cordinates</label>
                <input type="number" step="0.01" id="location" name="location" class="form-control">
            </div>             
            <div class="form-group">
                <label for="iOffer">I offer</label>
                <select id="iOffer" name="iOffer" class="form-control">
                <% for (var i = 0; i < items.length; i++) {%>
                    <option value="<%=items[i].displayName%>"><%=items[i].displayName%></option>
                <%}%>
                </select>
            </div>
            <div class="form-group">  
                <div class="subFormInput">
                <em>Amount</em>
                <input type="number" id="Oamount0" class="form-control" name="Oamount0" value="1">
                </div>
            </div>            
            <div class="form-group">  
                <label for="iWant">I want</label>
                <select id="iWant" name="iWant" class="form-control">
                <% for (var i = 0; i < items.length; i++) {%>
                    <option value="<%=items[i].displayName%>"><%=items[i].displayName%></option>
                <%}%>
                </select>
            </div>
            <div class="form-group">  
                <div class="subFormInput">
                <em>Amount</em>
                <input type="number" id="Wamount0" class="form-control" name="Wamount0" value="1">
            </div>
                <p><em>Spamming and setting up fakes requests in order to manipulate prices will get removed and banned</em></p>
                <button type="submit" class="btn btn-success" style="margin-top: 2px">Submit</button>
            </div>
        </form>
        </div>
    </div>
    </body>