<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Orders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.com/libraries/Chart.js"></script>
    </head>
    <body>
        <h1 class="display-4 center" style="padding-top: 10px;">Trading Market</h1>
        <p class="center"><em>I think this is the place where you make business..</em></p>
        <p class="center">You can add selling listing <a href="sellinglisting">here</a> or a buy listing <a href="buyinglisting">here</a>.</p>
        <div class="row">
        <div class="col">
        <div class="sellinglisting">
            <ul>
                <li>
                    <!-- Example list item...-->
                    <div class="lisingBox" style="margin-left: 5em;">
                        <p>Ionia, South Bridge (-213, 1512)<br> <em>OlleThunberg</em></p> <img src="/data/icons/stonesword_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p><img id="arrow"src="/data/icons/arrow-pointing-to-right.png"><img src="/data/icons/Goldingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x2</p><img src="/data/icons/Ironingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p>
                    </div>
                </li>
            </ul>
        </div>
        </div>
        <div class="col">
        </div>
        <div class="col">

        <div class="buyinglisting">
        <ul>
                <li>
                    <!-- Example list item...-->
                    <div class="lisingBox">
                        <p>Ionia, South Bridge (-213, 1512)<br> <em>OlleThunberg</em></p> <img src="/data/icons/stonesword_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p><img id="arrow"src="/data/icons/arrow-pointing-to-right.png"><img src="/data/icons/Goldingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x2</p><img src="/data/icons/Ironingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p>
                    </div>
                </li>
                <li>
                    <!-- Example list item...-->
                    <div class="lisingBox">
                        <p>Ionia, South Bridge (-213, 1512)<br> <em>OlleThunberg</em></p> <img src="/data/icons/stonesword_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p><img id="arrow"src="/data/icons/arrow-pointing-to-right.png"><img src="/data/icons/Goldingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x2</p><img src="/data/icons/Ironingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p>
                    </div>
                </li>
                                <li>
                    <!-- Example list item...-->
                    <div class="lisingBox">
                        <p>Ionia, South Bridge (-213, 1512)<br> <em>OlleThunberg</em></p> <img src="/data/icons/stonesword_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p><img id="arrow"src="/data/icons/arrow-pointing-to-right.png"><img src="/data/icons/Goldingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x2</p><img src="/data/icons/Ironingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p>
                    </div>
                </li>
                                <li>
                    <!-- Example list item...-->
                    <div class="lisingBox">
                        <p>Ionia, South Bridge (-213, 1512)<br> <em>OlleThunberg</em></p> <img src="/data/icons/stonesword_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p><img id="arrow"src="/data/icons/arrow-pointing-to-right.png"><img src="/data/icons/Goldingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x2</p><img src="/data/icons/Ironingot_icon32.png"><p style="display: inline-block; margin: 5px;"> x1</p>
                    </div>
                </li>            
        </ul>
        </div>
        </div>
</div>

    </body>